[2015-04-15 21:15] jbenet opened #1 "Beginnings -- comment here to be added to the team"
See https://github.com/ipfs/ipfs/issues/21

I dont have the bandwidth to lead this effort, so ideally we could find a maintainer that can take a lead on. Ideally someone who understands ipfs at both a technical, ideological, and product levels.

Doing this well will in short term will need:
- stable specs https://github.com/ipfs/specs/ (which we're headed toward)
- passing a common test suite (whi

[2015-04-16 05:43] bmcorser opened #2 "2 and 3"
Despite this project not having any code written yet, we should support Python back to at least 2.7 to help with uptake of users who can't (or don't want to) work in a Python 3 environment.

Python 2.7 smoothes over many issues with `__future__`, but some guidance for developers would be useful.

Resources:
- [wiki](https://wiki.python.org/moin/Python2orPython3#Supporting_Python_2_and_Python_3_in_

[2015-04-16 06:03] whyrusleeping commented on #2
from irc, I think that forward compatibility with 3 should be the goal, and not backwards compatibility with 2

[2015-04-16 06:03] bmcorser opened #3 "Repo setup"
- [x] `setup.py`
- [x] tox, pytest
- [x] Sphnix
- [x] gh-pages

[2015-04-17 11:00] jbenet commented on #1
Oh and, comment here if you want to be added to the team. We've been following a pretty simple policy of trusting people we've gotten to know. The only rules are:
- don't push to master
- don't merge to master without maintainers' approval
- don't rebase others' branches without asking first

[2015-04-17 16:12] wking commented on #1
On Fri, Apr 17, 2015 at 04:00:12AM -0700, Juan Batiz-Benet wrote:

Out of curiosity, why do this instead of using the integration-manager
workflow where contributors all fork [1](http://git-scm.com/book/en/v2/Distributed-Git-Distributed-Workflows#Integration-Manager-Workflow)?  With an additional
remote.origin.fetch line, you can easily fetch remote-tracking
branches for all PRs [2](https://gist.g

[2015-04-17 20:41] bmcorser commented on #1
We run our CI suite against the `pr` namespace. It's very useful.

Do you guys want me to make PRs now or are you happy for me to work on master until more contributors turn up?

[2015-04-17 20:45] jbenet commented on #1
@wking ah interesting. would love to make it work with 0 trust. But the most important problem we've run into is collaborating, sometimes i can go in and fix some of the pedantic CR requests (or rebase on new master) to make it easier on others, and we cannot do that when it's a fork + PR. Also, so far we've had trouble with some CI systems running for PRs (jenkins!!! but we dont use jenkins anymo

[2015-04-17 20:53] whyrusleeping commented on #1
@jbenet @bmcorser I think for now, until there are other contributors youre good to work on  master. Although, jbenet might have other opinions

[2015-04-17 22:30] jbenet commented on #1
@bmcorser i'll try to read the code + comment if you do PRs. i think it's safest so can help answer questions / notice bugs / etc

[2015-04-27 14:16] #3 closed, assigned to bmcorser

[2015-10-05 17:46] NoraCodes commented on #1
I'd love to work on this project - my time is currently heavily constrained by school work but after the winter holidays I will be able to devote a large amount of time to the project.

[2015-10-05 17:53] BrendanBenshoof commented on #1
I think I am already added, but I am starting to have to bandwidth that would let me push on this project.
I might start working out modules + involved processes (a bit more involved in python than go) over the next few days.

[2015-10-05 22:06] bmcorser commented on #1
Great! I too am rather constrained by work and study, but would be interested in doing code review and managing CI things. How do you guys want to communicate? I quite like the look of https://gitter.im (it's like a hipster IRC room attached to a GitHub repo) ...

[2015-10-06 14:24] NoraCodes opened #4 "Proposal: Seperate packages for each system"
I suggest that we separate the `ipfs` package into packages for each IPFS subsystem:
    \*   `ipfs-api` - Used to connect to Py-IPFS by applications. This is where most users should touch. From https://github.com/ipfs/python-ipfs-api
    \*   `ipfs-naming` or `ipfs-ipns` - Provides access to the IPNS pulbic key infrastructure and naming system. Handles HRNs and mutable pointers
    \*   `ipfs-mer

[2015-10-06 15:02] BrendanBenshoof commented on #2
I'm also going to second the "focus on python 3" approach. A year ago I would have agreed with you, but enough of the user base is catching up such that a python 2.7 version may not be merited. While the packages will be re-usable in other software the primary use case for the server modules will be to run an ipfs server, so I think it is reasonable to expect users to be able to install python3 to

[2015-10-06 15:07] BrendanBenshoof commented on #4
I am a fan of using multiple packages, but I suggest doing so internally and not polluting the global namespace or a package manager with them. This is a standalone application, not a package.

ipfs.api and naming already exists in the form of https://github.com/ipfs/python-ipfs-api and since they are universal (can be used with any ipfs implementation) it does not make sense to put it in the same

[2015-10-06 15:35] jbenet commented on #4
I think the more standalone packages that can be used by other things, the better. (Yes published to package managers). A convention could be used like in node ipfs: `ipfs-<module>`

In particular, all the network stuff, definitely make it separate packages. Name the main one libp2p -- and check with @diasdavid and I on it -- we're actively modularizing it and making the pieces even more useful

—

[2015-10-06 16:09] daviddias commented on #4
I believe it would be also good to align organisation conventions across implementations (e.g. node-ipfs-bitswap, go-ipfs-bitswap, py-ipfs-bitswap and others all do the same thing and offer the same interface). So on this, I happy to bring more libp2p context, the IPFS network stack.

[2015-10-06 16:24] NoraCodes commented on #4
@diasdavid Would we then use submodules for those packages into this repository? My intent was to allow user-side or project-side swapping of each subpackage for either alternate Python implementations or for C, Go, or other implementations, for speed, while not breaking the API.

[2015-10-06 16:47] daviddias commented on #4
@SilverWingedSeraph the Node.js implementation is breaking everything into modules per repo https://github.com/ipfs/node-ipfs#roadmap. modularity and composability ftw :)

[2015-10-06 17:11] NoraCodes commented on #4
OK, I updated my comment to reflect the naming convention, and the proper use of `ipfs-api`. I like the idea of using modules per repo.

[2015-10-06 18:14] BrendanBenshoof commented on #4
We have solved a lot of the dht related problems over at [UrDHT](https://github.com/UrDHT/PyUrDHT). The latest Kademlia DHT logic has not left the simulator and been implemented into UrDHT yet, but we can use it soon. I should test if my kademlia peer selection criteria plays well with the other nodes using the k-buckets approach

[2015-10-08 14:31] NoraCodes opened #7 "IDE standardization?"
Should we include .idea/ for PyCharm? I use PyCharm extensively on my desktop dev machine, and I think it would make the process of onboarding new developers easier if we had a .idea/ project directory already set up with execution settings for tests, etc. already set up. Otherwise, we will end up with a lot of duplication of work.

[2015-10-08 14:35] NoraCodes opened #8 "TDD"
I suggest that, since we are starting with both a spec and and a reference implementation, we go the Test Driven Development route.

This raises the question, what test framework do we use? I'm most comfortable with unittest, but am entirely open to learning pytest or Nose.

Additionally, I was considering an essentially 3-branch structure: `release`, `master`, and `unimplemented`, where `unimplem

[2015-10-08 14:46] BrendanBenshoof commented on #7
So long as IDE integration is optional to the build and testing process.
(We should always be able to do everything needed from the command line)

[2015-10-08 14:47] BrendanBenshoof commented on #8
Unittest works.

+1 3 branches + feature branches

[2015-10-08 14:47] bmcorser commented on #7
Agreed. No harm in offering a PyCharm config, though. Many people swear by
it `;)`

On 8 October 2015 at 15:46, BrendanBenshoof notifications@github.com
wrote:

[2015-10-08 14:53] bmcorser commented on #8
Disagree. py.test offers many more features than unittest. Perhaps the most interesting is its concept of [fixtures](https://pytest.org/latest/fixture.html).

Check out [`setup.py`](https://github.com/ipfs/py-ipfs/blob/master/setup.py) ... it's already configured with py.test and Tox

[2015-10-08 14:56] bmcorser commented on #8
There are several established approaches for managing branches/releases. Have you guys read [the post](https://internals.rust-lang.org/t/release-channels-git-branching-and-the-release-process/1940) from the Rust guys on the subject?

[2015-10-08 14:57] NoraCodes commented on #7
@BrendanBenshoof Absolutely. I do all my development from CLI on my laptop, so I'll need that myself.

[2015-10-09 05:32] sirMackk commented on #1
I'd really like to join this effort. I think I'd be able to contribute 1-3 hours a week to throw Python at infrastructure/development problems :).

[2015-10-09 05:39] sirMackk commented on #2
I would also opt for python 3. Lately I've encountered situations at work that made me wish we were using python 3 to get some of the basic goodies like unicode support and some of the more exotic ones like type hinting. I also believe that not focusing on python 2.7 will free up more time to work on the real issues.

[2015-10-09 05:47] sirMackk commented on #8
Normally I'd go the unittest + built-in mock route, but here we might need capabilities offered by pytest. I started using it recently and I like being able to run tests on multiple cpu cores.

[2015-10-09 12:22] BrendanBenshoof commented on #8
A big issue I am running to testing my other massively p2p project is that a lot of important bugs don't show up until you have networks of 100+ nodes. We are going to need to make something like "fire up 1000 nodes and test for reach-ability in the network.

[2015-10-10 14:49] NoraCodes commented on #4
@diasdavid To clarify, do you mean we should create additional repos and use git submodules, or that we should make Python modules for each section in this repository? Sorry, the word "module" is a bit unclear here.

[2015-10-10 14:55] NoraCodes commented on #2
I agree with focusing on Python 3. The features it will enable are definitely worth it, in my opinion, and it is becoming much more prevalent - even Ubuntu will be shipping Python 3 as `/usr/bin/env python` soon.

[2015-10-10 16:08] daviddias commented on #4
@SilverWingedSeraph I was pointing out that on the same train of thought that you proposed with [`I suggest that we separate the ipfs package into packages for each IPFS subsystem`](https://github.com/ipfs/py-ipfs/issues/4#issue-110018694), we started to modularize the IPFS for the Node.js implementation and we intend to go through a similar process in the go implementation.

It would be good for

[2015-10-10 16:12] NoraCodes commented on #4
I think it basically depends on whether or not we want to allow people to use our functionality piecemeal. If we want, say, `ipfs-naming` to work standalone, we should create separate repos and use submodules to bring them here. Otherwise, we can just use a structure like

[code]

[2015-10-14 05:30] sirMackk commented on #4
Correct me if I'm wrong @diasdavid , but I believe the closest translation of what is happening in the nodejs implemention to what we could do here would be:
- Each component in its own repository ie. `python-ipfs-ipns`.
- Each repository contains a python package ie. `python-ipfs-ipns/ipns/__init__.py`
- Each repository contains a `setup.py` so that each repo can easily be packaged into an egg/wh

[2015-10-15 06:11] bmcorser opened #13 "Multiple multihash implementations"
Just noticed there are (at least) two multihash implementations out there. Oddly, it appears as if they were created a few weeks apart:
- https://github.com/tehmaze/python-multihash
- https://github.com/bmcorser/py-multihash

@tehmaze's implementation is mentioned in the main ipfs documentation and actually does the hashing for the user, my implementation offers an interface and `__eq__`. Can they

[2015-10-15 13:01] moreati commented on #13
I apologize in advance for bike shedding, I'm going to suggest a 3rd option. Like @bmcorser I'd like to see a _single_, _canonical_ multihash package for Python, but I think it should expose an API based on stdlib's [hashlib](https://docs.python.org/3.5/library/hashlib.html). Ideally it would be usable as a drop in replacement.

I'll do a rough draft to flesh out the idea.

[2015-10-18 13:29] BrendanBenshoof commented on #13
Just to exemplify this problem: https://github.com/BrendanBenshoof/py-multihash

I'm using it in UrDHT and just about any project that needs hashing.

[2015-10-18 13:39] bmcorser commented on #13
@moreati :+1: for `hashlib` API

[2015-10-24 18:51] JulienPalard commented on #1
I'm in, but I don't know how many hours I'll be able to throw in ^-^ Just liked the idea (IPFS) since the beginning :-) Glad today they have some specs -> give me motivation ! ("Walking on water and developing software from a specification are easy if both are frozen." - Edward V. Berard -) (Already on the team, just saying hello !)

[2015-10-24 18:58] JulienPalard commented on #2
Python 3 is like 7 years old, I don't think "people who don't want to work in Python 3" should still be a thing. I vote for focusing exclusively on Python 3.

[2015-10-24 19:02] JulienPalard commented on #7
Not sure about your PyCharm thing, I don't know what the `.idea` contains. But just keep it optional, let everyone use the IDE / editor they want, I propose our only common standardisation point to be the PEP8, and it should be "enough" standard ?

[2015-10-25 00:05] NoraCodes commented on #2
Honestly, I would be happier to focus exclusively on Python3, as @JulienPalard suggests. It provides functionality which may be useful to the project, especially asyncio, and really should be the standard.

[2015-10-25 00:09] NoraCodes commented on #7
Fair enough. `.idea` basically just contains configs for running tests from within the IDE, which is nice for those who don't like to have more than their IDE open. I personally would be OK with not including them, since as @BrendanBenshoof says, testing should always work without extra tools.

[2015-10-25 10:39] JulienPalard commented on #7
Still don't exactly know what is inside the `.idea`, but, if it helps those with a set of IDE without impairing others, I'm not 100% against it, so, same as @BrendanBenshoof here.

[2015-10-25 18:13] JulienPalard commented on #13
Implemented an hashlib-compatible (PEP247) one, missing the "decode" part as the PEP obviously don't provide one. Also I'm not in the `decode` vocabulary, I think we can find better. And also I don't already know exactly why we would decode it :-p

BTW, here it is, just a draft, open for any merge in any directions to hopelessly avoid the https://xkcd.com/927/ effect.

https://github.com/JulienPal

[2015-10-25 20:29] mvanveen commented on #1
Not currently sure what my commitment can be, but I'm interested in joining the initiative.

@bmcorser gitter works for me.
@jbenet do you have a recommendation for the best way to coordinate/get in touch with people pursuing the test suite?  I feel like this is probably a strong apriori requirement for a burgeoning ipfs polyglot community and I'd personally love a testable spec to build against.

[2015-10-26 14:40] BrendanBenshoof commented on #13
@jelien that looks great! we should add multiple hash value
encodings/decodings other than Hex. You also have some issues with not
using varInts, but that is long-term future proofing.

On Sun, Oct 25, 2015 at 2:13 PM Julien notifications@github.com wrote:

[2015-10-26 15:30] JulienPalard commented on #13
Multiple hash values ? I'm not getting it, sry, what do you mean ?

varints ? I'm not sure I'm getting this one right, but, the spec for multihash is: `<1-byte hash function code><1-byte digest size in bytes>`, so what did I missed ?

[2015-10-26 15:43] BrendanBenshoof commented on #13
multiple (hash value encodings) other than hex. Essentially other
bases/alphabets like base 64 or base 58. I'd write a general:
encode(bytes,alphabet)->string and decode(string,alphabet)->bytes then wrap
it with the default alphabets.

Read: https://github.com/jbenet/random-ideas/issues/1
especially the section on varints.

On Mon, Oct 26, 2015 at 11:30 AM Julien notifications@github.com wrote:

[2015-10-26 15:57] JulienPalard commented on #13
I'm not sure it's the responsibility of the "hashlib" / "multihash-lib" to encode in base64.

Python already have a [https://docs.python.org/3.4/library/base64.html](base64) module to do this.

Also, doing the encoding in our hashlib-compatible implementation of multihash get our implementation away from PEP247. And by doing so, we cannot longer replace our multihash implementation by another (als

[2015-10-26 16:04] JulienPalard commented on #13
Ticket opened about varint, I think I will NOT implement it until mandatory. The necessity will happen with a commit adding the 128th hash, that's a human intervention, not just the time flowing, so, adding this 128th will be the point in time we'll have to implement varint.

I mean, the cost of parsing a varint when we know for sure (list of known hashes is hardcoded) that we have less than a byt

[2015-10-26 16:06] BrendanBenshoof commented on #13
@julien +1 agreed/persuaded on all counts

On Mon, Oct 26, 2015, 12:04 Julien notifications@github.com wrote:

[2015-10-27 02:12] mvanveen commented on #7
I live in vi and I imagine many others do, but if the `.idea` isn't large let's go ahead and add it.  Alternatively, we could keep an ipfs URI for it around :)

[2015-10-27 03:35] mvanveen opened #15 "Sprint Process?"
I've been steadily diving head first into IPFS docs and am still getting up to speed.  Along the way, I noticed that there is a [pre-existing weekly sprint process](https://github.com/ipfs/pm/) defined for a lot of the specific current initiatives (go, node, testing + ci, protocol + specs, etc.).

Would this be something that this team would be interested in adopting?

I think one of the benefits

[2015-10-27 03:47] mvanveen commented on #2
A _lot_ of the world is still on Python 2.  While it's true Python 3 is "like 7 years old," it still makes up a fraction of the current Python install base and mind share.  To provide my own anecdotal evidence, I've been a Python dev for about 10 years now, having the breadth of my professional experiences centered almost exclusively within the lang, and I have yet to have had the luxury of workin

[2015-10-27 04:25] mvanveen commented on #8
I think there's two seperate discussions here.  Can we

[2015-10-27 04:34] mvanveen commented on #8
I think there's several separate discussions going on here.  Reviewing the comments so far I can call out the following items:
1. whether we should stick to just `unittest` and `mock` out of the standard lib or include a test runner like `pytest` or `nosetests` in the distribution.
2. if it's worth favoring a unit test-driven approach and whether or not everyone agree to this requirement
3. a call

[2015-10-27 04:51] mvanveen commented on #4
I'm worried about how this would affect imports, e.g.:

[code]

The issue is `-` is not a valid identifier.  If we want to preserve uniformity with the aesthetic of other repos I think this is a deal breaker.

My read on the general in the greater Python community is that it seems like modularizing sub-packages into separate repositories is fairly rare, possibly due to the perceived overhead with

[2015-10-27 05:06] blueskymonster commented on #1
Jumped in on gitter. Posting here as well to indicate interest. I'm going to read the white paper and really dive into the details in the upcoming week.

[2015-10-27 05:14] mvanveen opened #17 "passing a common test suite (which we'll extract from go-ipfs)"
@jbenet calls this out in #1.  Judging by #8 people seem to agree with the principle that developing against a testable spec is a priority.

I'm curious how we're going to go about accomplishing and structuring this goal.  I realize the actual written spec is still in progress (I myself am still coming up to speed on the protocol specifics).

I'd like to use this issue to center discussion on plan

[2015-10-27 05:14] mvanveen commented on #17
I think as @jbenet highlights we can "extract" working definitions from the existing golang reference source code and start putting together a test suite from that material.  So there's some ways we can get started even while the spec is being finalized.

Another interesting approach might be to design a functional test harness which can use [python-ipfs-api](https://github.com/ipfs/python-ipfs-ap

[2015-10-27 05:30] jbenet commented on #1
@mvanveen right now, there is a "sharness test suite" in go-ipfs which is actually just testing the cli and api". this is a good step to testing behavior from an HTTP api. we'll be separating this out into its own repo with a test suite.

the next thing to do would be to setup network tests using an instrumented or controlled node (likely go-ipfs for now) speaking directly to another node in the t

[2015-10-27 09:16] bmcorser commented on #15
Yes, not sure about sprints exactly because people have their own schedules. We should adopt a set of rules about code quality, review process and test coverage however:
- PEP8 threshold / styleguide
- No merge without review
- No merge without test coverage

I think it would be great to get a [Homu](http://homu.io/) instance running to decrease PR review management, etc; those Rust guys [know wha

[2015-10-27 09:33] bmcorser commented on #2
I feel the spirit of my issue is slipping away ...

The implication here is that we _should_ focus on developing against Python 3, but we _should also_ maintain compatibility back to 2.7 ...

In my opinion not supporting Python 2.7 at all isn't an option if this project wants to be used by the world at large. As @mvanveen mentioned, the world at large (in my experience too) are still teetering at

[2015-10-27 09:33] bmcorser opened #18 "Vote to decide Python support"
:baby: ←#2
### @whyrusleeping
- [x] Don't support Python 2 at all
- [ ] Support to 2.7
### @BrendanBenshoof
- [x] Don't support Python 2 at all
- [ ] Support to 2.7
### @sirMackk
- [ ] Don't support Python 2 at all
- [ ] Support to 2.7
### @SilverWingedSeraph
- [x] Don't support Python 2 at all
- [ ] Support to 2.7
### @mvanveen
- [ ] Don't support Python 2 at all
- [ ] Support to 2.7
### @bmcorse

[2015-10-27 09:34] bmcorser commented on #2
:point_up: #18

[2015-10-27 09:49] bmcorser commented on #17
So, the [Sharness](http://mlafeldt.github.io/sharness/) suite is [here](https://github.com/ipfs/go-ipfs/tree/master/test/sharness) ... coverage table is [here](https://github.com/ipfs/go-ipfs/tree/master/test/). Those will be really useful when our implementation here gets underway. @jbenet [mentioned](https://github.com/ipfs/py-ipfs/issues/1#issuecomment-151379174) that the above will be broken o

[2015-10-27 12:28] NoraCodes commented on #7
@mvanveen  That's a much better idea, actually. I'd be happy to go with that.

[2015-10-27 17:48] BrendanBenshoof commented on #18
The core of my argument is as follows:
- Stock python3 is the future arguments and we should incentivize moving to it
- If the primary use case of this was to be a library or programming interface, I could see an argument for python 2. (Our client package supports python 2 and 3 for this reason!) Our primary use case is a daemon style service, to be run in background or on a headless server.
- Exp

[2015-10-27 18:23] whyrusleeping commented on #18
casting my vote against supporting python2, not because i like python3 (i personally hate python3, and i try to only ever use 2.7) but because supporting both becomes tricky and can cause confusion in places.

[2015-10-27 18:32] NoraCodes commented on #18
I'd like to vote against supporting python2, not because I dislike programming in it but because it's unacceptable to not support python3 and a waste of time to support both.

[2015-10-27 19:53] bmcorser commented on #18
That's a majority in favour of Python 3 only. Motion carried `:)`

[2015-10-27 19:53] #18 closed, assigned to nobody

[2015-10-27 19:55] bmcorser commented on #2
Closing this.

By democratic process; we shall not be supporting Python 2.

[2015-10-27 19:55] #2 closed, assigned to nobody

[2015-10-28 02:36] jbenet commented on #2
I think Michael is right, if this implementation hopes to see strong, wide use, it should support python 2.7. The world really hasn't moved forward on this.

As an anecdotal single data point, in all my years developing Python distributed systems I've yet to _ever_ run Python 3.

I don't think the sample size of this issue is large enough to determine an accurate distribution of use. We should loo

[2015-10-28 02:40] jbenet commented on #18
I don't think this is a representative sample. If the aim is to be democratic to the Python user base, base it on real deployment numbers. 

But If the aim is to be dev idiomatic, carry on. I suspect it wouldn't be impossible to isolate incompatibilities and address them later on.

—
Sent from Mailbox

On Tue, Oct 27, 2015 at 2:32 PM, Leo Tindall notifications@github.com
wrote:

[2015-10-28 03:29] jbenet commented on #15
i believe @amstocker wanted to schedule a py-ipfs hangout. see https://github.com/ipfs/pm/issues/34

[2015-10-28 03:31] jbenet commented on #15
the hangouts are useful to:
- review priorities
- decide on tricky issues (not adding new details, just force a decision)
- build momentum
- generate lists of todos that people can pick up

[2015-10-28 03:33] jbenet commented on #15
the sprint todos themselves can help people:
- build momentum on what they _want_ to get done,
- have a realtime venue to show others what they've been up to, get quick feedback, and connect with others
- have a way to see what others have been up to

it's a very low key "i made this stuff!" atmosphere, not a pressured one. do it only if you find it useful

[2015-10-28 05:53] bmcorser commented on #18
Everyone who voted (apart from me!) voted not to support 2.7

This repo is actually configured to run tests against 2.7 using Tox on Travis, so we will see incompatibility there.

[2015-10-28 05:58] amstocker commented on #13
@JulienPalard I wrote a simple unsigned-varint conversion util for a [python multiaddr implementation](https://github.com/amstocker/python-multiaddr/blob/master/multiaddr/utils/varint.py) that I started.  You guys are definitely welcome to absorb or cherry pick from what I've started.

[2015-10-28 06:08] amstocker commented on #15
@mvanveen @bmcorser  @jbenet I'm definitely interested in starting a py-ipfs hangout/sprint (also see https://github.com/ipfs/ipfs/issues/112).  It seems like a few people here are really interested in building a python impl of the IPFS protocol so we should have a hangout soon to kick off the project.  I would happy to lead the discussion and I definitely want to contribute to the project, but I

[2015-10-28 06:18] amstocker commented on #18
not that it affects the vote at all, but if there is going to be any async i/o it would tough to span different versions of python, so it would probably best to choose one framework/version to work with at first (i'm inclined to say 3.4+ w/ asyncio, although I haven't used it much).

[2015-10-28 08:35] JulienPalard commented on #13
@amstocker That's cool, thx, I'll probably put the code ready-to-use, like in a comment, but unused as long as it's not mandatory. As I said, it's not worth the cost of using varInt as long as the hardcoded list of supported hashes does not use the first byte.

[2015-10-28 17:59] BrendanBenshoof commented on #15
I would be willing to lead that. Timing/Logistics will be fun. Can I start trying to plan a hangout for this weekend?

I think we can do sprints, but I expect they would be 24-48 hour affairs so more people get a chance to participate.

[2015-10-28 18:02] BrendanBenshoof opened #19 "Development Hangout"
I want to try and plan a developer hangout to start planning out the project and perhaps prepare for the first sprint.

We are a global "team" so scheduling is a mess.
I can commit to being available for any time chosen on this sat. or sun. with advanced notice.
If you are interested please post your availability for this weekend (make sure to mark timezone info or use utc)

[2015-10-28 18:03] BrendanBenshoof commented on #15
#19
please post availibility

@whyrusleeping @jbenet I'd love if one of you could attend so we can interrogate you about the current state of go-IPFS.

[2015-10-28 18:08] whyrusleeping commented on #15
i can probably make a meeting, my schedule is fairly open, but MWF before 1700PST works best for me.

[2015-10-28 22:11] JulienPalard commented on #19
Interested but with family etc, can't give a precise hour. Also I'm in Paris, France, so Central European Time for me, probably won't match with a lot of you. Yet I think that following a precise roadmap may help focus our contributions and sync ourself, so I'll gladly pick from the sprint even if I can't join the hangout.

[2015-10-29 02:59] amstocker commented on #19
I'm free this sunday

[2015-10-29 14:32] NoraCodes commented on #15
I'm in the middle of the college applications process, so this weekend is going to be really busy. I probably won't be available. Sorry.

[2015-10-31 15:45] BrendanBenshoof commented on #19
Looks like Sunday is our day then. @amstocker looks like we are it. When are you available?

[2015-10-31 16:21] JulienPalard commented on #19
I'll probably be free sunday but don't know when, random will tell us ^^

[2015-10-31 16:48] amstocker commented on #19
I'll be free mid afternoon PST.  Hopefully some others that have been active in the other thread will be able to join as well; @bmcorser @SilverWingedSeraph @mvanveen

[2015-10-31 23:18] BrendanBenshoof commented on #19
I can do late EST: 8pm+ (PST 5pm+)

[2015-11-01 07:25] amstocker commented on #19
@BrendanBenshoof That also works for me

[2015-11-01 11:38] JulienPalard commented on #19
It's 2:00 AM Monday in CET, won't work for me :p but it's ok I'll backlog ^^

[2015-11-01 17:24] BrendanBenshoof commented on #19
@whyrusleeping could you be in a hangout 5-6pm PST?

[2015-11-02 00:42] BrendanBenshoof commented on #19
https://hangouts.google.com/call/23wp3q6mz2soebhv6ff4hjdjkea

^is a thing

[2015-11-02 00:43] BrendanBenshoof opened #20 "Minutes Development Meeting #0 1/11/2015"
Compatibility Target 0.4 go-ipfs

Start with implementing libp2p: https://github.com/ipfs/specs/blob/master/protocol/network/6-interfaces.md#63-swarm
- https://github.com/dabeaz/curio
- Transports (Session Layer Protocols)
- Protocols (DHTs/Bitswap)
- Multistream/Interchange

[2015-11-02 00:49] amstocker commented on #19
I'll be on in about 10 min

[2015-11-02 02:15] BrendanBenshoof commented on #20
![uml](https://cloud.githubusercontent.com/assets/2808853/10873152/b996787e-80dd-11e5-8a75-aa8eef04643c.png)

[2015-11-02 02:53] amstocker commented on #20
some more links for libp2p:
https://github.com/ipfs/js-ipfs#roadmap
https://github.com/ipfs/specs/tree/master/protocol/network

[2015-11-02 02:55] jbenet commented on #20
i _strongly_ recommend following the module structure we have in go-ipfs and we'll have in js-ipfs. it will make it way easier for people to move between codebases, to translate swaths of functionality, and to identify problems and to fix them even if not native in that language.

[2015-11-02 02:55] jbenet commented on #20
(that said if you want to experiment with something new, go for it. you should still follow all the specs though, including the fs-repo spec)

[2015-11-02 02:55] jbenet commented on #20
that jerk @jbenet needs to write more specs.

[2015-11-02 03:17] amstocker commented on #20
@jbenet That's pretty much the conclusion we came to.  We basically decided to build a python-libp2p first and then build each service on top of it in a modular way.  We'll probably be asking a lot of questions about the libp2p spec...

[2015-11-02 03:23] jbenet commented on #20
perfect!

On Sun, Nov 1, 2015 at 10:17 PM, Andrew Stocker notifications@github.com
wrote:

[2015-11-02 14:20] BrendanBenshoof commented on #20
I am going to build a "sprint" todo (more of a jog than a sprint...) then close this issue.

Right now our big issue (as it allways is in python) is GIL. But @whyrusleeping pointed out a python 3.5 library that can help with that.

[2015-11-02 21:07] JulienPalard commented on #20
I as OK top completly drop python 2 compatibility, but using async/await means dropping 3.1, 3.2, 3.3, and 3.4 compatibility. I like a lot async and await, but isn't being compatible with Python 3.5 a bit restrictive ?

[2015-11-02 21:27] JulienPalard commented on #20
Also I'm not sur the GIL will be a problem for us, we're not trying to eat 100% of each CPU cores. Instead, we'll probably spead a lot of time waiting for the network.

[2015-11-02 21:30] JulienPalard commented on #20
Why `curio` instead of `asyncio` ?

[2015-11-02 22:00] amstocker commented on #20
@JulienPalard This is something we argued about for a while.  It is my opinion that we should just stick with a single process with coroutines rather than do any multiprocessing.  It looks like `curio` spawns a subprocess that it uses to handle all io asynchronously with callbacks, which looks nice, but I'm not sure we really need that. @BrendanBenshoof argued that we couldn't download multiple la

[2015-11-03 09:53] JulienPalard commented on #20
Downloading a large file didn't mean a single, huge, blocking `read()` syscall. `read()` can (and have to) be broken in multiple calls, and the underlying socket can be set asynchronous.

On the other hand, using another thread to fetch the file won't directly solve the "this file is huge, the process is blocked", I mean, the main process will not be blocked, but what about the second one being "s

[2015-11-06 00:27] amstocker opened #21 "python-libp2p dev meeting"
cc: @BrendanBenshoof @JulienPalard @bmcorser @SilverWingedSeraph @mvanveen

Our kick-off meeting went pretty well (#20) and I think we now have a pretty good idea about how to start this project.  I think the plan is to build a python port of libp2p first and then build the IPFS protocol on top of that.  I was thinking we should probably schedule another meeting to discuss libp2p in more detail an

[2015-11-06 09:21] JulienPalard commented on #21
I tried to start loading the big picture of libp2p in my head, but current spec, typically
[abstract-transport](https://github.com/diasdavid/abstract-transport) opens so many questions for me.

Typically, a few one I still have in mind:
- `transport.createListener(options, function (stream) {})`
  - what is "options" ?
  - what is this `callback` for ?
- "This method waits and listens for incoming

[2015-11-06 09:47] jbenet commented on #21
@JulienPalard the spec was most recently re-written by @diasdavid after making it in node, so yeah it will have a node tint to it. But just check out the go implementation for an example with coroutines.

[2015-11-06 09:52] jbenet commented on #21
This doesnt have to be this way at all, that's just the idiomatic node version. here it is in go:

[code]

yeah. another idiomatic choice.

@diasdavid, in Go it's not idiomatic to do that btw, the above call (`transport.Listen(...)`) should leave the listener in a state of already listening. from there,

[code]

is this ok with you @diasdavid? or there a critical reason why one MUST do:

[code]

c

[2015-11-06 11:00] daviddias commented on #21
To clarify, an `abstract-<something>` module is a way to create a spec for a component that has the goal to be swappable, it is not, however, to force any kind of interface bias on other language ecosystems.

One example, which has two different interfaces already, is https://github.com/diasdavid/abstract-stream-muxer . Don't feel that you have to use the Node.js way of doing Asynchronous I/O in P

[2015-11-06 11:02] jbenet commented on #21
@diasdavid btw, the "abstract-" thing is common in node, but most other languages use "interface" to mean this instead. may be worth using that for cross-lang friendliness.

[2015-11-06 11:15] daviddias commented on #21
@jbenet good point, should we get a better name that is abstract/interface agnostic? What about making available on that repo, the file which contains the interface/abstract for the language, such thing would not exist for JS, but for go, we can have the interface.go, and go would import it?

[2015-11-06 11:17] jbenet commented on #21
we could-- but might make it more annoying to work with. i kinda like how multiaddr and multihash work in go/js.

[2015-11-06 20:57] amstocker commented on #21
@JulienPalard I think we should interpret the libp2p specs in terms of data flow between subsystems, and as @diasdavid said we should definitely do whats most fitting for python async i/o (e.g. asyncio coroutines -- for which we can reference the go implementations like @jbenet suggested).

@diasdavid It would be awesome to have you in python libp2p meetings!  I'm very excited to get this up and r

[2015-11-08 14:28] JulienPalard commented on #21
@amstocker  Yep `async`/`await` are almost only syntactic sugar over `@asyncio.coroutine` and `yield from`.

They're nicer on some points (more strict, more readable, distinguisable from the real `yield from` usage, etc...).

But I'm OK to not stick to 3.5 only for the moment, not sure how much person have access to a 3.5 interpreter for the moment.

@jbenet @diasdavid In one hand it's nice to hea

[2015-11-10 07:01] jbenet commented on #21
@JulienPalard take a look at go interfaces too. and yes the specs need cleaning, but it's hard work. help would be appreciated, but note it's bikeshedding central.

[2015-11-10 08:02] amstocker commented on #21
@JulienPalard @jbenet I think I get the gist of the libp2p ideas/architecture, and am planning to do some kind of a roadmap for python-libp2p by next week.  As the libp2p spec is refined we will of course have to change things, but as it stands we definitely have a lot of work to do in the first place.  @JulienPalard Here are some of the references I've found that you can hopefully use to piece to

[2015-11-13 04:57] candeira commented on #1
I'm commenting here to show my interest. I've been reading the whitepaper, the specs site, the kademlia paper, etcetera. The checklist on the README of the js-ipfs implementation seems to be a good organisation method also for breaking down into chunks so py-ipfs can be tackled by newcomers. The elephant is too damn big and wriggly even for a first bite.

[2015-11-13 05:33] marknagelberg commented on #1
I want to help out with this. I plan on digging deeper into the white paper and specs.

[2015-11-13 07:19] amstocker commented on #1
@candeira @marknagelberg and anyone else interested, we had a short kickoff hangout recently (https://github.com/ipfs/py-ipfs/issues/20) and we've made some tentative plans for what to do next.  The network stack of `go-ipfs` is going to be factored out into `libp2p`, so it would make sense for us to [build a `python-libp2p` first](https://github.com/ipfs/py-ipfs/issues/21), and then the IPFS prot

[2015-11-15 06:24] candeira commented on #20
I'm sorry I missed the dev meeting, here's my take:
- I like going with curio, even if it's 3.5 only. In the beginning, all py-IPFS users will be py-IPFS developers who know how to install their own Python. Once IPFS is released for outside consumption, I doubt there'll be many users hamstrung by only being able to use `python 3.x where x < 5`
- I think mvanveen's idea in issue https://github.com/

[2015-11-15 06:45] candeira commented on #1
@amstocker, thanks. Would it help if I took the js-ipfs roadmap and created a template in the py-ipfs readme?

The way I see it, while it doesn't make sense to break the code down into as many modules as in JS (we don't have to worry about shipping too much code to a browser), the breakdown in functionality is pretty much the same.

[2015-11-15 08:52] amstocker commented on #1
@candeira sure that would work.  I agree that we shouldn't have that many modules, maybe just a python-libp2p module and then py-ipfs.

[2015-11-15 23:08] candeira commented on #1
@amstocker thanks. I'm at work now, I'll make a PR tonight.

[2015-11-16 00:48] amstocker commented on #1
@candeira awesome!  Sounds good.

[2015-11-17 20:06] amstocker commented on #1
@candeira I'm not an admin of this repo so I cant merge your PR, but the roadmap looks good.  @jbenet would it be possible for me to be a contributor for this repo?

[2015-11-17 20:11] candeira commented on #1
Yes, @amstocker @jbenet, I would like to be a contributor too. I've read the rules (don't commit to master, make PRs only, don't merge other people's code without code reviews). What else is required?

[2015-11-18 08:00] ricmoo commented on #21
I was just chatting on the IRC and was wondering if the meeting is still open to join? I've been tinkering with IPFS in Python (mostly as a proof of concept before implementing it in Objective-C), and I'd love to be involved.

[2015-11-18 13:38] ivilata commented on #1
Hi everyone, I'd also like to contribute to the development of IPFS in Python.  I was developing PyTables some years ago and I'd like to get to speed with coding once more by contributing here, so I may start taking some simple, no rocket science things like tests, documentation and the like.  I'm currently unemployed so I'd be able to dedicate some hours a week.

I've read the white paper (I'm re

[2015-11-18 20:47] JulienPalard commented on #20
I also missed the meeting, but can someone expose the pro/cons for `curio` ? I clearly don't get it.

[2015-11-18 21:04] amstocker commented on #20
@JulienPalard `curio` uses py3.5 coroutines and opens a process pool to handle concurrent I/O.  I'm not convinced we need it, but it would unload some of the I/O when using large files.

[2015-11-18 21:29] JulienPalard commented on #20
@amstocker Got it that it uses a separate thread / process, but I'm not convinced too we need it: How inter-process communication does cost less than no-interprocess-communication ? As long as we're doing asynchronous reads / writes in the network (what asyncio does), we're OK.

On the other hand, `asyncio` is backported down to Python 3.3 as a module, and is part of the std lib in 3.4, read: more

[2015-11-18 23:02] JulienPalard commented on #20
I'm going to -1 for `curio` as it's not compatible with asyncio, so if we need to access anything like HTTP, SQL, a message queue, whatever, and if this thing have an asynchronous implementation compatible with asyncio (more and more probable), we won't be able to use it until a curio implementation exist (less probable than an asyncio implementation as asyncio is in the std lib).

[2015-11-18 23:49] amstocker commented on #20
@JulienPalard Agreed.  I also think that if we really need to, we can implement similar functionality fairly easily using asyncio.

[2015-11-19 05:08] jbenet commented on #21
May be useful if some Python folks join the general libp2p hangouts too.
Those are high throughput so prob worth keeping both for now

Btw-- are you keeping minutes like the others? It's useful to be able to
read back on discussion. Feel free to PR any coordination stuff you need in
github.com/ipfs/pm and join the general irc syncs as you please
On Wed, Nov 18, 2015 at 00:00 Richard Moore notifica

[2015-11-19 05:32] amstocker commented on #21
@jbenet I'm planning on eavesdropping a few of the core dev hangouts as soon as I have time, and I'm sure others would be willing to as well.  In regards to minutes, we've only had one meeting so far (https://github.com/ipfs/py-ipfs/issues/20), this python-libp2p one hasn't happened yet.

[2015-11-19 10:41] daviddias commented on #21
I've been cleaning up, organizing things and going through the process of what I would have to do if I wanted to start building a new libp2p implementation in another language. The end result was a cleaner description and a uniform pattern across available implementations, check:
- https://github.com/diasdavid/go-libp2p/blob/docs/roadmap/README.md
- https://github.com/diasdavid/js-libp2p
- https:/

[2015-11-19 20:33] amstocker commented on #21
@diasdavid this is awesome!  Should give us a lot to work on for the time being.

[2015-11-20 00:19] daviddias commented on #21
glad you liked it :) also, to test multistream against go and node, one way is to follow PDD, for more info and guide check - https://github.com/ipfs/specs/tree/master/pdd

[2015-11-20 04:02] amstocker opened #23 "Generic Modules/Utils"
Before moving on to the rest of libp2p and py-ipfs, we should look at the required generic utilities and determine which existing implementation we want to use, or if there isn't one, who wants to work on it.  Here is what we need (see https://github.com/ipfs/py-ipfs/issues/21#issuecomment-158019175 for more info):
- [ ] PeerID
  - js impl: https://github.com/diasdavid/js-peer-id
- [ ] PeerInfo

[2015-11-20 06:57] jbenet commented on #23
multicodec, too. ipld as well.

On Thu, Nov 19, 2015 at 8:02 PM Andrew Stocker notifications@github.com
wrote:

[2015-11-20 07:53] amstocker commented on #23
@jbenet thanks

[2015-11-20 09:51] candeira commented on #21
@diasdavid, really nice, thanks. I have a [PR with a copy of your roadmap](https://github.com/ipfs/py-ipfs/pull/22) that I intended for the py-ipfs implementation to use as documentation when implementing. I've added your links and @amstocker's from [another comment](https://github.com/ipfs/py-ipfs/issues/23#issue-117961177).

[2015-11-20 10:07] candeira commented on #23
Regarding the multihash/multihashing split, it appears our discussion in #13 is now obsolete. We agreed on using a multihash implementation that followed the Python hashlib API, but current favourite JulienPalard's is more of a multihash_ing_ implementation, in that it exposes a high level Python-hashlib-like interface to create multihash values and hexdigests, but doesn't implement the low level

[2015-11-20 13:30] candeira commented on #13
I've made a plan for implementing multihash/multihashing [in this comment](https://github.com/ipfs/py-ipfs/issues/23#issuecomment-158345821). Feedback welcome.

[2015-11-20 16:58] JulienPalard commented on #23
I can't completly agree, if we're diverging from `hashlib` by adding methods like `base58_btc_digest`, we're in fact completly dropping the `drop-in replacement of hashlib`, because another `drop-in replacement of hashlib` implementation will probably not name the extended method the same way, like `base58_digest` instead. They're no longer drop-in-replacable.

On the other hand, I don't think it'

[2015-11-20 19:16] jbenet commented on #23
I don't think you're limited to one "drop in replacement" interface. What I often do is write the interface I want, and then write another object that wraps it to provide some other useful interface.

[code]

Or something more concise :)

[2015-11-20 19:17] jbenet commented on #23
@candeira that sgtm.

If the 2 modules thing sounds cumbersome, another option is to use subpackages in python. I prefer super modular things (hence breaking it up into two modules) but the py and go communities don't in general.

[2015-11-21 13:35] candeira commented on #23
@JulienPalard: I don't know that we are talking about the same thing when we mention encoding. It has to do with the view of whether a separation is needed between the functionality of multihash and of multihashing.
- `multihash` would be the low level library that doesn't know anything about crypto, but only about the multihash datastructure. Thus, `multihash.encode()` is just a packer of a `(has

[2015-11-23 09:03] JulienPalard commented on #23
I still don't get the difference between `multihash` and `multihashing` and still think the names are badly choosen. However I'm aware that my multihash implementation don't provide a way to `unhash` a hash (I mean, "parse it"). But if we have to implement it, why not calling it "unmultihash" ?

[2015-11-24 20:27] JulienPalard commented on #23
It looks like I miseed your message https://github.com/ipfs/py-ipfs/issues/23#issuecomment-158641195, so I'm re-replying.

I still think that `multihash` and `multihashing` are very badly choosen names, and people will confuse them every time they need one. And I don't think that we need to choose bad names before a javascript implementation choose bad names.

On the other hand I'm aware that stic

[2015-11-24 22:57] amstocker commented on #23
I think that the first one makes a lot more sense to me, but I would change `base58` to mirror python's `base64` module:

[code]

In general I think we should have these basic modules:
- [ ] base58 module
- [ ] varint module

and then these modules for multihash:
- [ ] low-level multihash module for encoding, decoding multihash bytearrays
- [ ] hashlib interface to the low-level functions
- [ ] op

[2015-12-14 18:18] NoraCodes opened #24 "Framework for HTTP(S) API?"
I'd like to have a consensus on how to implement the HTTP(S) API. I would suggest Flask but that is only because of my inexperience with other options (Bottle, Pyramid, etc).

Once we have a decision on this, a skeleton API could be written with the actual implementation filled in as the functionality materializes. It will mostly be boilerplate and there is no reason for implementers of actually h

[2016-01-02 19:35] daviddias commented on #21
Any update on progress? Let me know if I can provide any help! :)

[2016-01-02 19:42] amstocker commented on #21
@diasdavid I've been busy finishing school so I haven't been around much, but in the next few weeks I'm definitely interested in getting back up to speed and start work on python-libp2p.

[2016-01-02 21:47] daviddias commented on #21
@amstocker sounds great, good luck with school!

[2016-01-10 19:43] Mec-iS commented on #18
same as @amstocker
+1 only 3.4+

[2016-01-10 19:43] Mec-iS opened #25 "Alternative Interchanging Format"
As there is no official Protocol Buffers working support yet for Python3, it would be great if server and client could support https://capnproto.org/

[2016-01-10 19:50] Mec-iS commented on #1
Hi people,
I am Lorenzo. It would be great to join this venture as Python developer and space exploration fan. Hope to learn as much as possible. I am trying adding test to https://github.com/ipfs/python-ipfs-api and it would be nice to see a complete version of https://github.com/Dignifiedquire/ipfs-http-api
Keep rollin'

[2016-01-10 22:29] candeira commented on #18
I´d even say 3.5+ or even a later one, not commit to a current 3.x version.

By the time py-ipfs is ready for non-developers to use, there might be a 3.7 with useful things. So why get married to 3.4? Better not pin a version for now, just target "cpython latest" while in development, decide to pin it down later.

I also vote to not go out of our way to support 2.7.

[2016-01-11 14:54] Mec-iS commented on #18
@candeira Yeah, stuff like 3.5's "type hinting" or other future features built aside/on can become central for future versions, beside the already mentioned async/await interface. As you said, having the latest CPython is the thing for projects that look at the next decades.
However I was talking with @jgraef about the lack of latest protobuf2 support for Python3, I don't know if this could be a p

[2016-01-11 16:05] NoraCodes commented on #25
Correct me if I misunderstood, but it seems that this would totally break interoperability with other IPFS nodes.

[2016-01-11 16:23] jbenet commented on #25
Yes it would. you need protobuf for interop with other ipfs nodes today.

[2016-01-11 16:25] NoraCodes commented on #25
The best solution would be to either make the interchange pluggable or allocate some of this group's development effort toward fixing Python3 protobuf.

[2016-01-11 16:33] Mec-iS commented on #25
there is something working here: https://github.com/GreatFruitOmsk/protobuf-py3 but no news about official support yet.
@jgraef told me on chat he coded a simple encoder-decoder for Py3.

[2016-01-11 16:47] Mec-iS commented on #21
@amstocker would be great to help for this implementation. Let me know what I have to read to catch up.

[2016-01-11 16:48] NoraCodes commented on #25
If it's functional and has the same or a similar interface to the official protobuf solution, we should use that and retrofit with the official package when it becomes available. Efficiency of the code is secondary to our ability to begin development.

[2016-01-11 16:55] jbenet commented on #25
AFAIK there are multiple unofficial implementations that work.

[2016-01-11 17:12] jgraef commented on #25
https://github.com/jgraef/python3-ipfs-api/tree/master/ipfs/pb2hack

There is also a proto package which includes protocols for PBNode and unixfs. Protocols are specified with python objects (no protobuf specification parser yet) and are interpreted while reading/writing.

It only supports the data types that are used in PBNode and unixfs (string, bytes, uint*)

This module is called "hack" for a

[2016-01-12 15:27] daviddias commented on #1
I've just finished updating the js-ipfs status page, following the new API spec organization and linking each component to its respective spec. I believe it is more sane and easier to understand what needs to be implemented in terms of components and respective expectations for them.

Check https://github.com/ipfs/js-ipfs#project-status :)

[2016-01-12 20:53] candeira commented on #1
@diasdavid thanks for that. I'll update the py-ipfs status page to follow the js status and organisation. I believe it will be of great use to us!

[2016-01-12 22:16] amstocker commented on #1
@Mec-iS Lorenzo, welcome :) .  @diasdavid This looks great, thanks for the clarifications!

[2016-01-12 22:21] amstocker commented on #21
@Mec-iS I think right now we still need to get the generic modules done (#23), then we can start to focus on the core implementation for py-libp2p (see the js repo here: https://github.com/diasdavid/js-libp2p).  Also it would be good to get as familiar as possible with the libp2p spec (see: https://github.com/ipfs/specs/tree/master/libp2p).  The specs for libp2p are a little scattered but you shou

[2016-01-12 22:34] dubbled commented on #1
I'd love to be added to the team. I'm pretty busy, but I'd be down to throw some hours into this project.

[2016-01-13 13:17] ivilata commented on #23
For `hashlib` compatibility we only need to provide a single class, and in my opinion it still makes sense to provide some additional functionality related with multihash in the same module.

For instance (and taking much inspiration from the examples above), a single `multihash.py` module may be created that provides a `hashlib`-compatible class (`hash`) and a structured utility class (`Multihash

[2016-01-15 12:22] ivilata commented on #23
After reviewing the previous proposals I've noticed that it may not make sense to implement multihash as a `hashlib` (PEP 247) compatible object, since it's not providing any new hashing method on its own.  Multihash is just a way to encode the results of other hashes in a binary packaging, even the re-encoding part (with base64 and the likes) would not be necessary, only comfortable to have.  Wit

[2016-01-15 16:30] Mec-iS commented on #25
If I understood well, we are going to start with py-libp2p.
I started taking some notes [here](https://github.com/ipfs/specs/issues/68)

[2016-01-18 13:44] ivilata commented on #23
Ongoing implementation of the proposal just above in https://github.com/ivilata/pymultihash.

[2016-01-23 04:12] candeira commented on #23
We're overlapping, ivilata. My ongoing implementation is at https://github.com/candeira/py-multihash.

[2016-01-25 10:53] ivilata commented on #23
Hi @candeira, my implementation is based on my proposal above, which departs from your multihash/multihashing proposal to focus on something more pythonic (to my taste, of course!). It is currently only lacking some error checks and an introductory module docstring with some comprehensive usage examples beyond function doctests. I hope that the complete doc can offer a better feeling for the modul

[2016-02-09 12:00] ivilata commented on #23
I've uploaded [pymultihash to PyPi](https://pypi.python.org/pypi/pymultihash/). It's feature complete, with some testing (using doctests) and a pretty complete tutorial in the package docstring (which I'm working to put through Sphinx). You're very welcome to have a look at it and give your opinions, thanks! **Edit:** docs available [in ReadTheDocs](https://pymultihash.readthedocs.org/).

[2016-02-09 23:34] amstocker commented on #23
@ivilata this is really awesome!!

[2016-02-10 11:24] candeira commented on #23
Really good! I'm still struggling to find time to finish mine. More to come.

[2016-02-11 09:59] ivilata commented on #23
Thanks! In general I'd like to make a case for not trying to mimic the Go or JS and go for something more pythonic where possible. `:)`

[2016-02-23 00:44] gvbgduh commented on #1
Hi everyone! It would be grate to join your team. I am not very busy now, so I would be glad to productively participate in such an inspiring project.

[2016-04-02 08:28] Mec-iS commented on #24
The trend now seems to be `gunicorn` with lightweight applications: Python `threading` or [Falcon Framework](http://falconframework.org/), I have good experience with `webapp2` but I am not sure about future support. Bigger frameworks can be overkilling, it can be preferred to start from server plus basic authentication, `Flask` can be the choice if frameworks features are needed.

[2016-04-02 08:40] #25 closed, assigned to nobody

[2016-04-08 15:18] NoraCodes commented on #24
I'm somewhat concerned that `webapp2` isn't maintained anymore. It seems to be hosted on Google Code, which is now gone (except for the readonly archive). I'd be happy with `gunicorn`, since it seems to be quite robust while remaining small (and pure Python!)

[2016-04-30 16:10] fredthomsen commented on #1
Very interested in helping with this effort as well.  I have been looking at the ipfs project for the past few weeks and it seems very interesting.

[2016-05-11 22:11] avastmick commented on #1
I'd be interested in helping here. Looking at the traffic though, it it still alive? Is there anything happening right now?

[2016-05-12 13:28] bmcorser commented on #1
@fredthomsen, @avastmick

There's some stuff happening, have a look [here](https://github.com/ipfs/py-ipfs/issues/23) if you didn't already. I'm deep in exams right now, but will be taking stock again in a few weeks.

[2016-05-12 20:03] Fak3 commented on #23
I found another multihash implementation: https://github.com/kalmi/py-multihash

[2016-05-12 20:31] JulienPalard commented on #23
@Fak3 YAYYYYYYYYYY ! #irony

[2016-05-14 16:29] fredthomsen commented on #1
@avastmick I started looking at some of the multiaddr and multihash work.  These lower level modules are still in the early stages and definitely need some assistance.

[2016-05-14 22:32] avastmick commented on #1
@fredthomsen Okay great, starting to have a look today, in particular at the the multihash work done by @candeira  and @ivilata  - seems to be some duplication... I'll pick one that makes most sense to me to narrow in on.

[2016-05-14 23:40] amstocker commented on #23
@Fak3 there's a few out there but afaik the one made by @ivilata is the most fleshed out: https://github.com/ivilata/pymultihash

[2016-05-15 04:21] fredthomsen commented on #23
There is an additional multiaddr implementation by @sbuss present as well: https://github.com/sbuss/py-multiaddr.

[2016-05-15 09:32] Mec-iS opened #28 "Expose IPFS paths/URLs into Python"
I don't know how/if it can be useful, but on python-dev there is a PEP proposal to establish a uniform protocol to treat filesystem's path:
1. https://mail.python.org/pipermail/python-dev/2016-May/144506.html
2. https://mail.python.org/pipermail/python-dev/2016-May/144569.html

[2016-05-31 02:26] fredthomsen commented on #1
@avastmick @bmcorser and anyone else really.  I started on a python multicodec implementation since I saw there was none.  https://github.com/fredthomsen/py-multicodec.  Only json so far.

Feedback and comments appreciated.

[2016-06-04 11:36] jbenet opened #29 "Help with py-ipld?"
Hey everyone, py-ipfs seems a bit dormant for now. that's fine.

But things many people have requested is:
- [ ] py-ipld to match https://github.com/ipfs/js-ipld
- [ ] completeness of api https://github.com/ipfs/py-ipfs-api/issues/42

In particular, it would be very helpful to have py-ipld.

[2016-06-08 09:13] TimDaub commented on #29
See: https://github.com/bigchaindb/py-ipld/issues/1

[2016-07-18 12:28] TimDaub commented on #29
@jbenet I'd consider:

done for now.

[2016-08-03 12:04] benmoran56 commented on #1
I'm interested in contributing to this project. I've just become aware of ipfs, so still need to look over things.

[2016-08-03 14:25] benmoran56 commented on #24
I would recommend Pyramid framework. http://www.pylonsproject.org/
It can handle small single-file apps like Flask, but offers greater flexibility if the project does grow in the future. Specifically, the configuration is much more flexible.

[2016-08-08 07:22] Scondo commented on #24
Pylons/Pyramid is a full-featured framework with ACL, resource-based URLs etc.
It is good for web-portal, but too big for API in my opinion.

Lightweight framework like Flask or even pure-wsgi (via gunicorn or wsgiref.simple_server) should be much better for API.

[2016-08-08 12:58] benmoran56 commented on #24
My mistake, I thought this was in reference to the webui, like go-ipfs has. If it's just the API, then Flask is certainly enough (and quite nice for that).

[2016-08-08 13:06] jbenet commented on #24
- the webui should work on top of the same API.
- i remember flask and bottle being pretty good for APIs

[2016-08-25 15:27] sparrowme commented on #1
I would like to participate.

[2016-08-26 07:25] Mec-iS commented on #1
**For IPFS beginners**, we can start a study/research group to come closer to the different layers of the stack and then start contributing to py-ipfs. We can start a mail thread to share what we have understood so far and keep going helping each other. Who wants to join, write me at tunedconsulting [at] gmail.com, when we will be three or four people I will send an introductory letter to the argu

[2016-09-17 12:29] heaven00 commented on #1
Hey, I would love to contribute :)

P.S. I love the idea but still going through the details

[2016-10-07 14:37] meowzus commented on #1
i'd be interested in contributing as well!

[2016-10-15 16:28] ghost opened #33 "How do I begin working on py-ipfs?"
I am interested in contributing to Python implementation of IPFS but I don't know where to begin. I initially had an idea of doing this via basing it on JS variant but every library I look at -- libp2p or peer-id or ipld they all have internal dependencies to each other and other libraries like multihashing or libp2p.

So I am right now stuck on where to begin contribution. I understood libp2p is

[2016-10-16 03:56] ghost commented on #1
I'm interested in contributing as well :)

[2016-10-17 14:45] RichardLitt commented on #33
Great question, @shanmukhateja! Changed the title a bit and added labels to help make this easier to answer.

[2016-10-17 14:46] daviddias commented on #33
Hey @shanmukhateja, the best way to start is by implementing the supporting modules: https://github.com/ipfs/community/issues/177, let me know if this helps to get you started :)

[2016-10-17 14:55] ghost commented on #33
Hey thank you for reaching out @RichardLitt  @diasdavid . I was a bit worried that I'd be frowned upon for this issue.

@diasdavid  Thank you for the link. I have been catching up on what to do and I'll post anything I find.

[2016-10-17 14:59] RichardLitt commented on #33
No, no, that's a great question. We're happy to help. (Anything that made it seem you like you'd be frowned upon?)

Do post any other questions if you've got em. :)

[2016-10-17 15:00] ghost commented on #33
NO I haven't seen anything of that sort but it's just that the issues page was filled with technical queries related to IPFS implementation or dev meetings and ROADMAPs. SO I was a little worried.

[2016-10-17 15:01] RichardLitt commented on #33
OK. We'll try to make it more accessible if we can, thanks for the feedback!

[2016-10-17 16:05] ghost opened #34 "Is this implementation going correctly?"
I thought of getting _multihash_ module ready as a part of building supporting modules and have been basing it on JS implementation. I have been coming across several doubts regarding my implementation.

Can someone check if this is going correctly or can it be written **better?**

Address:  [multihash](https://github.com/shanmukhateja/py-multihash)

[2016-10-19 01:34] akubera commented on #34
Instead of a "src" directory, use the python package name -- I guess "multihash" for your case -- as the directory containing code. That way, from the top level directory, you can type `import multihash` into python and 'multihash/__init__.py' will be executed. You don't need an ops directory at all, just move that `ops/ops.py` to `multihash/ops.py`, that way it's accessible via `from multihash.op

[2016-10-19 01:43] akubera commented on #34
Actually, looks like multihash is taken as a package name on [pypi](https://pypi.python.org/pypi/multihash) ([github repo](https://github.com/tehmaze/python-multihash)).

If your project is different, name it something else. If it's the same, ask yourself if it's worth your time to duplicate.

They have a single file package instead of a directory - if you want to learn about structuring projects,

[2016-10-19 11:26] ghost commented on #34
Thank you @akubera I don't want to dedicate time to a library that has got several implementations hence I'll delete that repository. I see no existing implementations for multicodec multicodec-packed and multistream. pypi search hasn't brought  required resources.

Hence, I'll shift my attention towards these starting from multicodec.

[2016-11-09 22:07] alexfortin17 opened #36 "Py-libp2p broken link."
Hey everyone. I was just starting to look around because I want to contribute to this project. I read that an implementation of py-libp2p should be one of the first step but currently the link found in the roadmap is broken.
As any work been done yet and if so where is it?

[2016-12-08 10:48] judeosbert commented on #1
I would like to join the team. I have been thinking for a system like this. I like the concept.

[2016-12-18 20:00] TKorr commented on #1
add me to, I've also sent you an email...

[2017-01-03 21:58] thearkadia opened #37 "Using Morph.is code to improve IPFS"
I'm cross-posting this from the Orbit github since Morphis is written completely in Python and is really similar to IPFS so it can help speed along the development of py-ipfs.

The main developer was shot and killed 2 weeks ago and it would mean a lot for his work to live on. https://morph.is is a distributed datastore like IPFS and there was a ui being developed for a distributed irc\slack which

[2017-01-03 22:50] jangondol commented on #37
@arkgit That is truly horrible, so sorry to hear that. I saved the ZIP file for posterity ([archive.org](https://web.archive.org/web/20170103223649/https://u.teknik.io/XWzPR.zip)). Please note possible licensing issues (GPL v2 vs. MIT). Same applies to haadcode/orbit#218.

[2017-01-10 03:59] goldani commented on #1
I'd love to contribute to this project. I also sent an email to @Mec-iS.

[2017-02-17 09:42] #34 closed, assigned to nobody

[2017-02-23 17:17] berserkr commented on #1
@jbenet  Count me in :) Let me know what needs attention. Already forked, so will work off that for now.

[2017-02-24 17:17] decentral1se commented on #1
Following from https://github.com/ipfs/ipfs/issues/112#issuecomment-282338767, I'd like to help out and am just seeing what's what from https://github.com/ipfs/py-ipfs#contribute now.

[2017-05-09 13:11] mhchia commented on #33
Hi all,
Thank you in advance for reading my comment.

I just learned ipfs recently, and I am really interested in the project.
And I found py-ipfs, which is marked as welcoming contribution.

As @diasdavid said,

I checked the supporting modules in ipfs/community#177, and they seemed not implemented yet in py-ipfs.
So I wonder if py-ipfs still welcomes contribution from a newbie like me, and if th

[2017-06-17 15:58] H-Plus-Time opened #40 "Building on go-ipfs, c-ipfs: C/CGo extensions"
Would the maintainers be averse to doing this the (easier) way of building on C (I'm thinking kenCode's implementation) or CGo extensions?

The main con would probably be the loss of (some, perhaps not all) of the feedback on the spec, and the need to publish wheels. Pros would be implementation time, execution time (by a huge margin initially) and faster updates (in the case of C/Go internals).

[2017-07-09 19:43] daviddias commented on #1
A good chunk of the work building IPFS is actually building libp2p.

The documentation on libp2p and its modularity are in a state where I feel it is easier to start by just mirroring that implementation for new implementations in other languages. See https://github.com/libp2p/js-libp2p for more details and definitely check the examples to learn more about:

- Transports - https://github.com/libp2

[2017-07-28 17:03] ankagrawal commented on #33
Hi.. looks like py-ipfs is dormant since quite sometime. Has the project moved somewhere else?

I am wondering if the roadmap present on https://github.com/ipfs/py-ipfs and list of existing issues is still current. Also the link https://github.com/ipfs/py-ipfs/issues/1%7D seems to be not working anymore. Can someone please help me with the list of current issues.
I am interesting in contributing t

[2017-09-01 09:03] dhruvbaldawa commented on #1
Hi there, I would like to contribute to this project. I am going through the go implementation and am playing with it for now but would love to pick up some low hanging fruits or read some documentation about the current status, having the current context will be extremely useful. Is there a place where I can see it?

Thanks!

[2017-09-01 22:26] whyrusleeping commented on #1
@dhruvbaldawa as @diasdavid mentioned, libp2p is the first step on the path to implementing ipfs. Writing some of the lower level libp2p pieces like multistream and a basic multiplexer would go a long way

[2017-09-01 22:40] ghost commented on #1
Actually I think a basic implementation of IPLD and e.g. the dag-pb and unixfs formats might get you to something usable quicker -- although admittedly it feels less exciting if its not networked :) On the other hand the networking stack is *a lot* of work.

[2017-09-02 06:37] dhruvbaldawa commented on #1
@whyrusleeping and @lgierth thanks for your prompt reply, I didn't know about IPLD.
This does look interesting to me. I have opened an issue here https://github.com/ipld/ipld/issues/24

[2017-09-16 16:25] mitra42 commented on #29
@TimDaub - are you aware of anything that can create the IPLD json in Python, it looks like https://github.com/bigchaindb/py-ipld is only about converting the resulting json into CBOR and then Multihashing it, or am I missing something ?

This would be useful for a hackathon we are doing at the Internet Archive this weekend where we'd like to be taking one of the collections and being able to serv

[2017-09-16 22:59] TimDaub commented on #29
Hi Mitra,

unfortunately not, sorry :/
Maybe @jbenet knows?

Best,
Tim

On Sat, Sep 16, 2017, 18:25 Mitra Ardron <notifications@github.com> wrote:

[2017-09-16 23:06] daviddias commented on #29
@dhruvbaldawa started working on it recently! Track it here: https://github.com/ipld/py-ipld-dag

So far, @dhruvbaldawa contributed with:

- https://github.com/ipld/py-cid
- https://github.com/multiformats/py-multicodec
- https://github.com/multiformats/py-multibase

@mitra42 can you help out too? 🎉

![](https://camo.githubusercontent.com/2820cc493393fa993bef64b044c6d3ce1d4b56a4/68747470733a2f2f63

[2017-09-17 03:20] mitra42 commented on #29
I've checked out py-ipld-dag, and its unclear if that does a file sharding and building an IPLD or not (there is no Readme, comments, or tests, and the code is pretty opaque without explanation).

We might be able to help, but given we are planning on building some of this at a hackathon, its most likely we'd just have to pull something together quickly if there is no existing code for File>IPLD i

[2017-10-11 19:53] shshnkvadali opened #43 "Get file module saves the file with the hash as the filename"
With the following code
`api = ipfsapi.connect('127.0.0.1', 5001)`
`api.get(<hash>)`
The file is downloaded and is renamed as hash. I'm not certain if this is done on purpose or an issue that needs to be resolved

[2017-10-22 07:21] Projjol-zz commented on #1
Hi! I would like to help with the project. I've gone through the whitepaper and I'm playing around with the go implementation. I took a look at the project roadmap and the rest of the discussion on this thread, but it would be great if I could get some pointers to what would be a good place to start from.

[2017-10-22 07:35] dhruvbaldawa commented on #1
Hi @Projjol,

I recently started with the implementation, you can check the progress here - https://github.com/ipld/ipld/issues/24

I am currently working on https://github.com/ipld/py-ipld-dag, we can have a detailed discussion about it, if you'd like.

[2017-10-23 05:48] Projjol-zz commented on #1
Hey @dhruvbaldawa ! I'd love to talk to you about it, where can I hit you up? :)

[2017-10-25 14:52] dhruvbaldawa commented on #1
Hey @Projjol, you can contact me at dhruv [at] dhruvb.com

[2017-10-28 09:54] drozdziak1 commented on #1
Hi there, I'd like to participate!

[2017-10-29 05:52] dhruvbaldawa commented on #1
hey @drozdziak1, check out https://github.com/ipfs/py-ipfs/issues/1#issuecomment-338458221 and we can get in touch and discuss about the current status.

sounds good?

[2017-10-29 14:09] drozdziak1 commented on #1
@dhruvbaldawa Sure, so nowadays it's about implementing py-ipld, and *then* moving over to py-ipfs with py-ipld as a dependency?

[2017-11-12 10:44] meanmachin3 commented on #1
@dhruvbaldawa I'd like to help with this. It would be great if you can guide to get started with it

[2017-11-13 04:53] dhruvbaldawa commented on #1
@meanmachin3 Welcome! Please take a look at the current status here -- https://github.com/ipfs/py-ipfs/issues/1#issuecomment-338458221

You are welcome to join us during our weekly calls -- https://github.com/ipld/py-ipld-dag/issues/7

If you need some more information, we can get in touch :)

[2017-12-22 09:33] vuonghv commented on #1
@jbenet The IPFS protocol is very interesting. I would like to contribute to this project. Please add me to the team.

[2017-12-22 14:38] ghost commented on #1
The active Python team is @alexander255, @whereswaldon, and @amstocker

[2017-12-22 23:41] ntninja commented on #1
@lgierth: We're only maintainers of `py-ipfs-api` (and @amstocker is inactive, and @whereswaldon and me are currently keeping it mostly maintanance-only mode – we may do more again at some point but no promises). And while being assigned membership of all Python-related repositories was a noble gesture I think none of us had any immediate plans of starting to hack on the `py-ipfs` implementation (

[2017-12-29 14:44] renatoathaydes commented on #40
Implementing IPFS purely in Python seems like a major waste of effort. I agree that a binding for Python would be much more adequate than a separate implementation entirely.

[2017-12-29 19:49] mitra42 commented on #40
One problem with a binding is that you lose all the open-source support from people using it that might dig in and fix things. One challenge with IPFS is that, being written in Go, its community of developers is really small (compared to Python and Javascript coders).

[2017-12-29 22:50] ntninja commented on #40
As mentioned by me in another thread, I believe there would be some utility in having a Python client-only implementation of the IPFs protocol. However, client-only would, most importantly, *not* include things like:

  * Server implementation of the HTTP Client API (or maybe just a limited subset of it for testing)
  * A performant block storage (but hopefully a simple optional block cache at som

[2017-12-30 00:00] mitra42 commented on #40
I think one of the questions is how you think this will be used.

Lets take our example (archive.org) our servers are all in Python, I'm building gateways between our content and IPFS, but they are all written in Python using the http client API to talk to a separate IPFS server. This makes them innefficient and much less scalable, than if for example we could act as a IPFS server, and retrieve ma

[2018-01-04 15:09] benmoran56 commented on #40
I agree with @mitra42. In my opinion, a pure python implementation certainly has value. Not just the client library, but a full implementation eventually.

[2018-01-05 22:35] mitra42 commented on #40
Yes - and it might be that libp2p is not the most useful part to do first.

For example at the moment, the part I miss most is an IPLD constructor so that we could build IPLD files on the server, rather than having to feed the whole file to an IPFS (via HTTP) instance in order to get a IPLD file.

[2018-02-28 10:38] adamteale commented on #1
Hey guys I'd really like to contribute somehow!

[2018-02-28 10:44] harveyqiu commented on #1
I also would like to contribute！:blush:

[2018-02-28 15:42] R3dFruitRollUp commented on #1
Add me to the team =D

[2018-02-28 16:13] ntninja commented on #1
@adamteale @alienmao @R3sFruitRollUp: Are you interested in contributing to `py-ipfs`? My response to vuonghv on how to get started still stands. I can make you a repository maintainers if you prefer, but what we'd need first and foremost would be a `multistream-select` implementation and that'd be over at https://github.com/multiformats/ (where I don't have access).
Also the current repo is not v

[2018-03-02 07:34] harveyqiu commented on #1
@alexander255 Can you contact with the maintainers of multiformats to ask them to create a repo called py-multiaddr?

[2018-03-12 22:31] ntninja commented on #1
@alienmao: Sorry you got lost in one of my slightly neglected mailboxes. I'll see what I can do.

[2018-03-13 14:39] ntninja commented on #1
@alienmao: I asked them to create https://github.com/multiformats/py-multiaddr

Please open an issue there or create a PR to get in touch with them.

[2018-04-08 13:06] mooperd commented on #1
+1

[2018-04-08 21:26] ntninja commented on #1
@mooperd: +1 what?

[2018-06-12 14:56] brunoalano commented on #1
Still need help? It's active?

[2018-06-13 13:19] whereswaldon commented on #1
@brunoalano py-ipfs-api is maintained for bugfixes and the like, but not actively developed right now. If you want to add features, we're happy to provide guidance on that.

[2018-06-28 18:47] MirceaKitsune commented on #1
A third implementation of IPFS under Python sounds like a great idea! If this were to happen, it would make IPFS even more flexible and easy to port to various devices, potentially easier to integrate with various applications as a plugin (eg: game engines). I don't think I currently know enough Python nor IPFS core code to be useful to the team, but commenting both to subscribe and offer feedback

[2018-06-28 19:25] shenghuatang commented on #33
Is this project stopped?

[2018-06-29 16:23] ntninja commented on #33
@shenghuatang: As far as I know it never really started, but if you're interested in helping please see my response to vuonghv in [this comment](https://github.com/ipfs/py-ipfs/issues/1#issuecomment-353691198) on the other thread. Feel free to leave a comment if you want to know more.

[2018-07-16 02:03] CCHDjango commented on #1
I'm interested in a third implementation of IPFS under Python.too

[2018-07-26 10:29] kaleposhobios commented on #1
@alienmao @alexander255 I found an existing Python multiaddr implementation: https://github.com/sbuss/py-multiaddr. I'm thinking it just wasn't realized that this exists? I was thinking we should put that code into the new repository that was made for python under the Multiformats team. Then we could start building the Python [multistream-select](https://github.com/multiformats/multistream-select)

[2018-07-26 14:30] harveyqiu commented on #1
@kaleposhobios Maybe we can do that as the repo https://github.com/sbuss/py-multiaddr seems to be no longer maintained and there was no answer after I commented on this issue https://github.com/sbuss/py-multiaddr/issues/19 .

[2018-07-26 15:22] kaleposhobios commented on #1
Cool. Before I just blindly did that I was going to make sure it still
matches the latest spec. And also try to see if we can take over the pypi
stuff.

Do you know the right procedure for updating the authors? Leave as is, even
though it’s in a new repo, because indeed he still did write it?
On Thu, Jul 26, 2018 at 10:30 AM wto <notifications@github.com> wrote:

[2018-08-29 12:25] ngetahun commented on #1
Hi everyone,
I would like to contribute to this project as well. @jbenet Have you thought about incorporating more libraries with different language (like elixir, Haskell or Scala)?

[2018-09-21 11:08] threadshare opened #46 "i want to join to dev python-ipfs."
i want to join to dev python-ipfs. i saw this project starting. i am a python developer. i work for eos blockchain. i am interested in blockchain and ipfs. i used python,golang,php. ipfs is cool. so i want to join it and dev a new internet.
so how can i join python-ipfs. first maybe i can pr, but there are maybe other developer build it. so i create this issue. i hope to join them,but i don’t how

[2018-09-21 12:25] ntninja commented on #1
@kaleposhobios @alienmao: It's license under MIT so you can take it and do whatever you want with it as long as you ensure that the original copyright notices are retained where appropriate. When you do changes just add another copyright line with your own name below the previous one.

@ngetahun @GiggleAll: My [comment from December](https://github.com/ipfs/py-ipfs/issues/1#issuecomment-353691198)

[2018-09-21 12:29] ntninja commented on #46
@GiggleAll: I just mentioned you in #1, please see my response there. I'm happy to provide some guidance on things but there is currently no existing “team” you could join unfortunately. Also the current contents of this repo are just a bunch of empty stubs and can be totally ignored for any feature py-IPFS developments.

[2018-09-21 12:29] #46 closed, assigned to nobody

[2018-09-24 08:10] HashCode55 commented on #1
Hey @kaleposhobios, any updates?

[2018-09-25 02:27] threadshare commented on #1
thanks  I will try to do this.

[2018-09-28 11:14] ngetahun opened #47 "Pull request review process"
There are 4 open PRs from a year ago, and it would be nice if we could delegate someone to do the reviews

[2018-09-28 12:32] ntninja commented on #47
At the time when those PRs where opened there were unfortunately no active caretakers assigned to this project – meaning that there are still no active developers. (I only ended up by a kind of accident in this role later that year and only noticed those PRs today thanks to you. :slightly_smiling_face:)
See the recent comments on #1 for the current status of this: There is nothing usable here and

[2018-09-28 12:32] #47 closed, assigned to nobody

[2018-09-28 12:34] ntninja commented on #43
Sorry for the lack of response, but you commented in the wrong repo at the wrong time unfortunately. If your still interested in discussing this please open an issue at https://github.com/ipfs/py-ipfs-api instead.

[2018-09-28 12:34] #43 closed, assigned to nobody

[2018-09-28 12:42] ngetahun commented on #1
@alexander255 There's a ```py-multiaddr``` [implementation](https://github.com/sbuss/py-multiaddr) already. I will start working on a python implementation of multistream-select.

[2018-09-28 12:46] ntninja commented on #36
Unfortunately you commented during a time when there was nobody with commit rights watching this project, hence the lack of response. Please see the more recent comments on #1 for an idea about the current status of this project.

The link you mentioned likely never worked because there never has been an implementation of `libp2p` in Python. I decided to simply remove to reflect this. Thanks for r

[2018-09-28 12:46] #36 closed, assigned to nobody

[2018-09-28 12:49] ntninja commented on #1
@ngetahun: [Sorry, I did mean `py-multistream` in my last comment.] Thanks for looking into this! Once you have any working code (even if not a complete implementation) please leave a comment here so that others following this project know.

[2018-09-28 12:56] ntninja commented on #37
While this is indeed a sad story, the licensing makes it impossible to use any parts of *morph.is* in `py-ipfs` unfortunately. As far as I'm concerned LGPL would have been fine too, but GPL requires all users of the library to be GPL too. For a general-prupose library (that `py-ipfs` will possibly one day become) that restriction is unacceptable and since the primary author is dead these terms and

[2018-09-28 12:56] #37 closed, assigned to nobody

[2018-09-28 13:13] ntninja commented on #28
Thank for your feedback! Unfortunately you commented during a time when there was nobody with commit rights watching this project, hence the lack of response. Please see the more recent comments on #1 for an idea about the current status of this project.

I think what you linked to ended up been the [`__fspath__`](https://docs.python.org/3.6/library/os.html#os.PathLike.__fspath__) property of [`pa

[2018-09-28 13:38] ntninja commented on #13
Reviewing the discussion here and on #23 I conclude that https://pypi.org/project/pymultihash/ is the one-stop go to solution for computing multihashes in python. I'll look into getting this moved into https://github.com/multiformats/py-multihash/ and added to the official list of implementations.

Closing this.

[2018-09-28 13:38] #13 closed, assigned to nobody

[2018-09-28 14:03] #19 closed, assigned to nobody

[2018-10-16 11:45] raulk commented on #1
📣 Calling out Python developers!

The Ethereum Foundation is funding the development of py-libp2p via grants in their Round V: https://blog.ethereum.org/2018/10/15/ethereum-foundation-grants-update-wave-4/

If you're interested in working on a Python libp2p implementation, this is a great opportunity to do so. Guidelines here: https://app.tettra.co/teams/ethereum/pages/applying-for-ef-grants

[2018-10-16 15:57] dhruvbaldawa commented on #1
@raulk I would like to join in but I can't find any actionable information in those links, am I missing something? How can I contribute?

[2018-10-16 16:00] raulk commented on #1
@dhruvbaldawa Here's the link to the application form: https://efgrants.typeform.com/to/huczUJ (extracted from the blog post). You'll need to put together an application and submit it to the Ethereum Foundation.

[2018-10-16 16:01] dhruvbaldawa commented on #1
@raulk so do individual contributors apply separately? or is there a pool of issues from where we can pick up issues? how does this work?

[2018-10-16 16:12] raulk commented on #1
@dhruvbaldawa Yes, individual contributors apply separately, although if you want to assemble a team, I suggest posting on the Ethereum Sharding Gitter: https://gitter.im/ethereum/sharding, as others there might be interested in making a joint proposal. The EF call for proposals is intentionally left open-ended for contributors to pitch what they intend to work on.

[2018-11-06 12:48] tranlv commented on #1
Hi, Please add me to the team

Also, is there any contribution guide for this project?

[2018-11-07 16:38] ntninja commented on #1
This project is in planning stages at best and does not have any code (and hence not contribution guide). For details on the current status and an idea on how to proceed [please see my comment from last december](https://github.com/ipfs/py-ipfs/issues/1#issuecomment-353691198), particularly the response to vuonghv.

Since then @ngetahun has apparently started working on an implementation of `py-mu

[2018-11-07 16:39] ntninja commented on #1
As a side-note: If anybody is interested in working on local data storage (i.e. caching) instead, take a look at https://github.com/ipfs/go-ds-flatfs and try to implement that as a [backend](https://github.com/datastore/datastore#subprojects) for https://github.com/datastore/datastore – several backends already exist so it shouldn't be too hard; the serious problem is that the base library doesn't

[2018-11-09 05:02] tranlv commented on #1
@alexander255 Okay but there is some development on multistream-select here already https://github.com/multiformats/multistream-select. Should we go for Python client implementation now to get the ball rolling?

[2018-11-09 09:25] ntninja commented on #1
@tranlyvu: What you have linked to is the specification, we also need a Python implementation of that, so that we can build stuff on top off. (Note that multistream-select *is* a fundamental part of the client implementation: It's the very first protocol two peers use after establishing a connection to negotiate the follow-up protocol and version.)
If you want to work on something closer to core,

[2018-11-09 09:47] raulk commented on #1
Regarding libp2p: a team supported by the Ethereum Foundation has a significant head start implementing py-libp2p (including multistream et al).

Repo is here for now: https://github.com/zixuanzh/py-libp2p/ but it'll be moved to the libp2p organisation soon.

@zixuanzh and @stuckinaboot are part of the dev team, in case you want to reach out to join the py-libp2p community. They also run a Gitter

[2018-11-09 10:04] ntninja commented on #1
@raulk: That's great news! Since you mentioned multistream: Could you assemble a list of all the Multiformats modules you are using/providing? It seems with what you implemented work on an actual `py-ipfs` could maybe be started right now. :+1:

[2018-11-14 05:23] Mad-Kingu commented on #1
I would like to contribute to this project. Is there any particular point i should ahead ?
Any contribution guide?
I am pretty new on these public projects & git-hub.

[2018-12-04 16:02] DonaldTsang opened #48 "Some question regarding Py-IPFS"
1. Does it have the no-copy bug like go-ipfs, where the pinned file will be duplicated in the disk?
    - https://github.com/ipfs/go-ipfs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+nocopy
2. Does Py-IPFS has hashes algorithms for SHA256, BLAKE2b, BLAKE2s and Skein?
    - For reference SHA256 and BLAKE2 are in the standard library, and Skein is in https://pythonhosted.org/pyskein/

[2018-12-06 22:31] ntninja commented on #48
Sorry, but py-ipfs does none of these things currently as there isn't really any code yet. See #1 for the current status.

[2018-12-06 22:32] #48 closed, assigned to nobody

[2018-12-08 11:44] tranlv commented on #1
So I guess we would have to wait for the python implementation of libp2p to be mature enough to be used for this project

[2018-12-09 14:35] ntninja opened #49 "Next Steps"
Since #1 is clogged with all the many comments I open a new issue here. Feel free to continue the discussion below and I'll keep the following updated as things develop. Also feel free to create separate issues / repos to coordinate and I'll add the relevant links below.

Next steps (networking, stalled – please see the “storage” section below):
  * [ ] We could use some documentation for the `py-

[2018-12-09 14:47] ntninja commented on #1
@tranlyvu: Not really. I think using Ethereum's [`libp2p`](https://github.com/zixuanzh/py-libp2p/) as a base for project would be very beneficial even at this stage – some breakage is to be expected however. Also remember that libp2p is a library whose main purpose is to give you a connection stream for an arbitrary multiaddr.

@ngetahun: Looking through the `py-libp2p` source code I discovered
ht

[2018-12-10 02:57] tranlv commented on #1
@alexander255  Okay sounds good, let's use libp2p to get the ball rolling for this project

[2018-12-11 00:41] zixuanzh commented on #1
@ngetahun we would love to have you as a contributor to py-libp2p! Yes, we have a working implementation of `py-multistream-select` in `protocol_muxer` as @alexander255 pointed out. We decided to name the module `protocol_muxer` instead of `py-multistream-select` to be more descriptive of what it does. Ideally, we want to have everything in `py-libp2p` so that users don't have to do an import for

[2018-12-11 11:27] ngetahun commented on #1
@zixuanzh Thank you for the invitation 💯 . I'll get started with the open issues.

[2018-12-22 11:21] Aash90 commented on #1
@jbenet I would like to be part of this project, please add me to the group and let me know If any new rules need to be followed other than mentioned in the earlier posts/comments.

[2018-12-28 03:47] DonaldTsang commented on #48
@alexander255 please read this https://github.com/ipfs/go-ipfs/issues/4558
Does Py-IPFS has the same problem as Go-IPFS?

[2018-12-28 13:24] ntninja commented on #48
@DonaldTsang: Py-IPFS isn't a usable product yet and, among many other things, does not have storage support (and therefor `add` yet). So no, technically it is not affected but that still won't help you. :wink:

[2018-12-30 04:59] dheatovwil commented on #49
I've ported datastore to py3 (passed the existing test cases) at [dheatovwil/datastore](https://github.com/dheatovwil/datastore)

[2019-01-23 21:09] ntninja commented on #49
@dheatovwil: I saw your message, but I didn't respond in text (the OP was updated through). Sorry for this! I've updated the OP to outline what I believe should be happening next in order for this to become useful in terms of `py-ipfs`. In particular I've put up the need to make `datastore` async next: While we don't *really* need this right-now, fixing this later would be a pain in the *** – so l

[2019-01-23 21:12] ntninja commented on #1
@Aash90 jbenet won't respond to you here :wink:
If you want to help please either look at issue #49 for the current tasks, or join https://github.com/zixuanzh/py-libp2p/ instead which is at the core of `py-ipfs`'s future networking facilities.

[2019-02-02 13:31] AliabbasMerchant commented on #49
@alexander255 I would like to work on the bitswap implementation.
Although, I would require constant help, guidance and advice and the progress may be quite slow.

Resources I know of:
Specs: https://github.com/ipfs/specs/tree/master/bitswap
Go implementation: https://github.com/ipfs/go-bitswap
JS implementation: https://github.com/ipfs/js-ipfs-bitswap

I would work using a bottom-up approach.

@a

[2019-02-04 21:54] ntninja commented on #49
@AliabbasMerchant: Any help is appreciated! Particularly on that front!

And I'll say it up front: It's not going to be easy, I'll help were I can, but you'll may have to do some reverse-engineering of the source code and definitely is going to involve some guesswork – there is no close-to-final spec and it shows (so ideally document any and all findings in whatever form while you're at it).

(One

[2019-02-05 11:28] AliabbasMerchant commented on #49
Sure.
Looks like a perfect task for me!
I will try my best to document everything that I find.
I will work here: https://github.com/AliabbasMerchant/py-ipfs-bitswap

[2019-02-13 20:34] emmanuelantony2000 commented on #1
@jbenet I would like to be a part of the group and contribute to the project. I seriously find this useful and interesting. For me contributing to it will help me learn new things.

[2019-02-18 09:32] AliabbasMerchant opened #50 "Add names and links of the various sub-repos"
Lots of work is being done, towards making `py-ipfs` a complete project.
However, since the dependencies and all need to be worked up from scratch, not much work is being done directly in this repo. Various contributors are working on various other repos.
Maybe, we can put a link to those repos in the `README.md` file, so that new contributors know where to look for issues and where to contribute.

[2019-02-21 20:25] ntninja commented on #50
I did some updates in be0f35e0d6267ee15065c59eb2bf356104ed960b, I'm not sure that was everything you had in mind through.

Are you interested in commit access to this repository? I welcome all serious contributors & maintainers and you've been around these last 3 months and I still see you helping out. :slightly_smiling_face:

[2019-02-22 05:28] AliabbasMerchant commented on #50
@alexander255 It would be awesome, if you would give me commit access. 😄
I will add the repo links and all.

[2019-02-22 16:09] AliabbasMerchant commented on #49
@alexander255
I noticed, IPFS has numerous repos for JS. Even some small codes (no doubt, important ones) have their own repo.
(For example: https://github.com/ipfs/js-ipfs-block-service, https://github.com/ipfs/js-ipfs-unixfs, https://github.com/ipfs/js-ipfs-block, https://github.com/ipfs/js-datastore-fs)
Do we want to do the same for Python, or should we put them all in this repo???

I need the

[2019-02-22 17:58] AliabbasMerchant commented on #49
Also, 1 more thing.
What is the exact purpose of py-ipfs?
We all know python is slow. So we are definitely not trying to replace the go and js versions.
So, what is the exact goal??
If we know the goal, we can write code and documentation accordingly.

[2019-02-22 18:09] ntninja commented on #49
@AliabbasMerchant: Don't read to much into it, it's not uncommon in JS that every subroutine ends up in a different package. It's not uncommon to have packages such as `is-buffer`, that then look like this (and I'm quoting a real module here):
[code]
(The end.) Apparently JS people like it that way and everybody does it there, so it's not surprisingly that JS-IPFS would do it to.

In Python it's m

[2019-02-22 18:13] ntninja commented on #33
Issue #49 has details on what we could currently use help in. Closing this issue in favour of that one.

[2019-02-22 18:13] #33 closed, assigned to nobody

[2019-02-22 18:34] MirceaKitsune commented on #49
Python support will be very important. It's one of the most popular scripting languages after JavaScript and used by numerous projects. To name just a few from my area of knowledge: The Blender 3D animation software and Godot game engine both use Python (named GDScript for the later) for addons and development. With a native Python implementation of IPFS, the daemon could be included in such softw

[2019-02-22 18:34] ntninja commented on #49
@AliabbasMerchant: Thank you for bringing up this important subject! I'll try to answer from my perspective, but do remember that different people have different visions of what this software should actually be. The discussions of #40 and #1 are good illustrations of this I think.

*My vision for Py-IPFS*:
A client-oriented Python library for accessing data from the IPFS network and caching it loc

[2019-03-02 15:44] AliabbasMerchant commented on #49
I have started with python bitswap.
Still under development, but please check it out and give your valuable feedback here: https://github.com/AliabbasMerchant/py-ipfs-bitswap/issues/1

/cc @alexander255

[2019-06-25 19:38] utkarsh5k opened #51 "Current state of development?"
Is this still under active development? What are the current items that are being implemented? Would love to work on some of the implementation (would need a LOT of help, of course).

[2019-06-27 18:18] AliabbasMerchant commented on #51
Checkout Issue #49

Also, I had started implementing bitswap [`py-ipfs-bitswap`](https://github.com/AliabbasMerchant/py-ipfs-bitswap), but I have paused it due to personal commitments and lack of response. I plan to restart it in a few days (hopefully I will get proper feedback this time 😅).
You can work on some other aspect of `py-ipfs` if you want ✌️

@alexander255 is currently heading the devel

[2019-06-27 18:20] AliabbasMerchant commented on #51
@alexander255 Please guide us and tell us what is to be done next. And what is the roadmap of the project

[2019-06-27 21:48] ntninja commented on #51
@AliabbasMerchant: What feedback were you missing? Maybe I didn't notice it, but I can't recall you asking me anything recently. 🙂

As for the roadmap: There hasn't changed much since I updated it last I fear: It's still all contained in #49. I could extend it to have more items if there is interest through.

@utkarsh5k: Are you more interested in networking stuff (block exchange, security, DHT, …

[2019-06-28 05:06] AliabbasMerchant commented on #51
@alexander255 https://github.com/ipfs/py-ipfs/issues/49#issuecomment-468931595 😅

[2019-06-28 05:43] utkarsh5k commented on #51
@alexander255 : I'd love to work with the networking side of things. I am assuming that this work would mostly involve libp2p. I'd love to talk to you more about the current work done, some design specs and what I can take on for the same.

[2019-06-28 13:09] ntninja commented on #51
@AliabbasMerchant: Indeed! How didn't I see that!?
Left a bunch of comments around the repo and in that issue. Sorry about this!

[2019-06-28 15:12] ntninja commented on #51
@utkarsh5k: You are correct about libp2p of course 🙂
There really isn't all that much work done atm and `py-libp2p` isn't really usable or compatible with any real-work application yet. As such I've added some `py-libp2p` related things to #49. The MSS one should be fairly easy, adding encryption on the other hand does require some background I fear.

Based on your message, would you be more comfo

[2019-06-29 08:44] utkarsh5k commented on #51
@alexander255 : We can use any other channel of your choice for communicating further, talking on this thread isn't very efficient.

In the past, I have written a lot of code in python, however off late I have been slightly out of touch, but I don't think it will take too long for me to ramp up again. I have a fair background in networking because my day job (@ Microsoft) requires me to work in th

[2019-07-01 11:21] utkarsh5k commented on #51
@alexander255 any thoughts on the above?

[2019-07-14 11:48] utkarsh5k commented on #51
@alexander255 pinging again. :)

[2019-07-26 22:27] ntninja commented on #51
@utkarsh5k: I'm very sorry for the long delay on my end.

I must confess that I have very little knowledge about the DHT that IPFS currently uses and documentation has only recently started to be written ([link](https://github.com/libp2p/specs/tree/8b89dc2521b48bf6edab7c93e8129156a7f5f02c/kad-dht)). A couple of months ago some form of kad support was added to `py-libp2p`(I have updated #49 accordi

[2019-10-20 12:05] seeni-dev opened #52 "Important Issues to stimulate development."
Following help/issue should be done to stimulate the development.
1. Clear Timeline setup for the project
2. Development setup
3. chat channel instructions
4. Weekly/monthly online meet.
5. Special instructions for first-time contributors to this repo.

Feel free to add others

[2019-10-20 15:07] ntninja commented on #52
Thank you for your comment! These are interesting, albeit maybe obvious from your PoV, points to consider.

I would like to know more about this. If your talking about a Q1, Q2, … kind of timeline I'm afraid that there is not enough manpower behind this project to give any kind of realistic timing estimates. It might still be something we'd like to do in some general way however.

Also, there is i

[2019-10-20 16:08] AliabbasMerchant commented on #52
Hi @Seenivasanseeni
Its great to see your interest in the project!
As @alexander255 mentioned, the problem with properly starting the project now is that the dependencies themselves are not ready.
We are waiting for the dependencies to be ready, so that we can start off with the project.
Some of the dependencies currently being worked on are:
1. https://github.com/ipfs/py-datastore
2. https://gith

[2019-10-20 20:31] ntninja commented on #52
Gitter is proprietary and needs me to have yet-another-client, so I'd really not like to use that unfortunately. Since we'd have to start from zero anyways, how about using [Matrix/Riot](https://riot.im) instead? :grin:

[2019-10-20 22:12] ntninja commented on #52
I've create a Matrix room here, if you want to test: https://matrix.to/#/#py-ipfs:ninetailed.ninja

[2019-10-21 02:38] seeni-dev commented on #52
It looks great for now. Once our community is strong, we need to move to another platform. We can finalize this chat room. @alexander255  Right ?

[2019-10-21 10:08] ntninja commented on #52
Or add bridges to those, yes. I'll start by adding the IRC bridge since that one's the easiest. :slightly_smiling_face:

Yes, I'll add some links to the README then.

[2021-02-15 01:23] fubuloubu commented on #49
Out of sheer morbid curiousity, has anyone thought about re-thinking this library as a light wrapper around the C++, Rust, or Go implementations instead? (Using [C API](https://docs.python.org/3/extending/extending.html), [PyO3](https://github.com/PyO3/pyo3), or [gopy](https://github.com/go-python/gopy))

Python is a great systems integration language, but a pure Python implementation seems like i

[2021-04-17 13:41] PJ-Finlay opened #54 "Timeline/reccomended way to use IPFS from Python"
I'm the developer of [Argos Translate](https://github.com/argosopentech/argos-translate), an open source neural machine translation library, and currently have models available for IPFS download. I'd like to add support for automatically downloading from IPFS at some point (currently you need to manually download and install the models). What's the recommended timeline/strategy for doing this? My

[2021-04-17 15:15] ntninja commented on #54
Sounds like an interesting project!

Unfortunately py-ipfs still hardly exists (and has been effectively on hold for the last year), so I wouldn't recommend waiting for it. Instead, use [py-ipfs-http-client](https://github.com/ipfs-shipyard/py-ipfs-http-cleint/) to first probe if there is an IPFS API Server already running on `localhost` and, if that isn't the case, initialize your own private go-

[2021-04-17 15:34] ShadowJonathan commented on #54
[py-libp2p](https://github.com/libp2p/py-libp2p) is pretty much dead, i worked on it for a few months, but realised that the maintainers only had interest in it due to them requiring it for Ethereum's Trinity client, which made the library extremely opinionated imo

now it rarely receives updates, and the supposed "community manager" is nowhere to be seen to look for another maintainer, or even st

[2021-07-12 09:47] amogorkon commented on #54
I'm working on [justuse](https://github.com/amogorkon/justuse), aiming to complement pip and classical imports and was researching into ways to take load off of PyPI via P2P networking. Could IPFS in its current state help with the vision of hosting the Python ecosystem with PyPI as backbone and fallback? If yes, how hard would it be to integrate it?

[2021-07-12 13:27] ShadowJonathan commented on #54
No, I would not recommend py-ipfs as a solid backbone for hosting PyPi blobs, I wouldn't recommend ipfs for pypi in general anyways, but that's out of scope for this issue.

[2021-07-12 15:22] amogorkon commented on #54
I'd like to hear why you'd think IPFS isn't suitable for hosting python packages, if not in this thread, I'm free to discuss it elsewhere :)

[2022-01-05 23:55] wongasley opened #55 "UnboundLocalError"
Traceback (most recent call last):
  File "/home/wongasley/.local/lib/python3.8/site-packages/ipfshttpclient/http_httpx.py", line 173, in _request
    closables, session = self._access_session()
  File "/home/wongasley/.local/lib/python3.8/site-packages/ipfshttpclient/http_common.py", line 417, in _access_session
    session = self._make_session()
  File "/home/wongasley/.local/lib/python3.8/site-

[2022-01-05 23:56] wongasley commented on #55
Hello, why am I having this issue?